.adminPage ul {
    display: table;
    margin-left: 80px;
    margin-top: 0px;
    list-style: none;
}

.adminPage ul li {
    display: table-cell;
    text-align: center;
    color: rgba(50,50,50,0.8);
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 20px;
}

.queryButton {
    margin-top: 5px;
    width: 100px;
    height: 25px;
    font-weight: bold;
    background-color: transparent;
    text-transform: uppercase;
    border: solid rgba(30,30,30,0.9) 1px;
    color: rgba(30,30,30,0.9);
}