.adminPage ul {
    display: table;
    width: 100%;
    list-style: none;
}

.adminPage ul li {
    display: table-cell;
    text-align: center;
    color: white;
}

.adminPage ul li button {
    background-color: transparent;
    color: rgba(20,20,20,0.8);
    border: transparent;
    text-transform: capitalize;
    font-size: 16px;
}

.adminTeams ul li {
    display: inline;
    color: black;
}

.adminPageBold {
    font-weight: bold;
}