.headlineText {
    text-transform: uppercase;
    color: rgba(50,50,50,0.8);
    font-size: 13px;
    margin-top: 140px;
    margin-bottom: 20px;
}

.labelText span {
    margin-left: 20px;
}

.loginForm {
    margin-top: 160px;
}

.inputLogin {
    margin-left: 1px;
}

.loginButton {
    width: 150px;
    height: 30px;
    margin-top: 50px;
    background-color: rgba(90,90,90,0.2);
    font-weight: bold;
    color: rgba(50,50,50,1);
    text-transform: uppercase;
    border: solid 1px black;
}