.teamDescriptionNameBox, .teamDescriptionPointsBox {
    height: 10px;
    width: 80px;
    padding: 1px;
    margin: 2px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

.teamDescriptionNameBox {
    width: 80px;
    font-weight: bold;
}

.teamDescriptionPointsBox {
    width: 30px;
    font-weight: bold;
}

.solversHeadline {
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.teamNameBox, .teamPointsBox {
    height: 30px;
    margin: 2px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
}

.teamNameBox {
    width: 80px;
}

.teamPointsBox {
    width: 30px;
}