.teamDescriptionNameBox, .teamDescriptionPointsBox {
    height: 10px;
    width: 80px;
    padding: 1px;
    margin: 2px;
    margin-top: 25px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: rgba(50,50,50,0.8);
}

.teamDescriptionNameBox {
    width: 80px;
    text-transform: uppercase;
}

.teamDescriptionPointsBox {
    width: 30px;
}

.teamNameBox, .teamTotalPointsBox, .teamPointsBox {
    height: 30px;
    margin: 2px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
}

.teamNameBox {
    width: 80px;
    color: transparent;
}

.teamTotalPointsBox {
    width: 80px;
    color: rgba(50,50,50,0.8);
}


.teamPointsBox {
    width: 30px;
    color: rgba(180,180,180,1);
}

.solversHeadline {
    margin-top: 50px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(50,50,50,0.8);
    font-size: 13px;
}

.solvers {
    font-size: 13px;
    text-transform: lowercase;
    color: rgba(50,50,50,0.8);
    padding: 5px;
}